/target
/indexer/target

scripts/traffic-gen/node_modules/

# solana-test-validator sometimes creates this if run without an
# explicit --ledger flag from inside the project directory
test-ledger/

.env
.env.local

# Any Solana keypair files, if you ever generate one to disk in this repo
*.json
!validator-config/geyser-config.json

# OS/editor noise
.DS_Store
Thumbs.db
